@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #da3639;
  padding: 16px;
  border-radius: 32px;
  height: 64px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 18pt;
  transition: all 180ms ease-in;
}

.button:active:not(.disabled) {
  background-color: #ff4245;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4);
}

.button.disabled {
  background-color: #7c7c7c;
  box-shadow: none;
}
