* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #da3639;
  padding: 16px;
  border-radius: 32px;
  height: 64px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 18pt;
  transition: all 180ms ease-in;
}

.button:active:not(.disabled) {
  background-color: #ff4245;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4);
}

.button.disabled {
  background-color: #7c7c7c;
  box-shadow: none;
}

.flat-button {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 16px;
}

.flat-button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.back-icon {
  display: block;
  background-image: url("images/ic_arrow_back_black_24px.svg");
  background-repeat: no-repeat;
  opacity: 0.54;
  width: 24px;
  height: 24px;
}
